{% extends "base.html" %} 

{% block head %}
   <title>Nutrify</title>
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/indexstyle.css')}}" />
{% endblock %} 

{% block body %}
<h1>IBM Object Storage</h1>

{% for row in files %}
<div class="piccard card">
   <img class="pic" src="{{row[0]}}" />
   <a href="/t/{{row[1]}}"><button style="width: 30%" type="submit" class="btn btn-outline-primary">
         Learn More..
      </button>
   </a>
</div>

{% endfor %} {% endblock %}