{% extends "base.html" %}

{% block head %}
<title>About Page</title>
{% endblock %}

{% block body %}
<h2>About The Book Spot</h2>
<p>
    The Book Spot leverages the power of the The Book Spot brand to offer online customers the Web's premier destination for books, eBooks, magazines, toys & games, music, DVD and Blu-ray, and related products and services.
</p>
<h5>
    The Internet's Largest Bookstore
</h5>
<p>
    Taking advantage of vast warehouses across the United States, we stock over 1 million titles for immediate delivery -- that's more titles than any other online bookseller.
    <br><br>
    With so many titles, it is vital to give customers an easy way to find precisely the books they are looking for. Our search engine enables customers to locate books by title, author, or keyword in a few seconds at most. Customers with a general idea of what they want can use our Browse pages to sift through hundreds of categories to find exactly the right book. To further assist users, we offer descriptions and reviews, and our See Inside program lets customers read excerpts from tens of thousands of titles. We also offer editor recommendations and customer reviews on hundreds of thousands of titles.
</p>
{% endblock %}

